<div class="member d-flex align-items-start">
    <div class="pic"><img [src]=image class="img-fluid" alt=""></div>
    <div class="member-info">
      <h4>{{name}}</h4>
      <span>{{position}}</span>
      <p>{{description}}</p>
      <div class="social">
        <a href=""><i class="ri-twitter-fill"></i></a>
        <a href=""><i class="ri-facebook-fill"></i></a>
        <a href=""><i class="ri-instagram-fill"></i></a>
        <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
      </div>
    </div>
  </div>
