 <!-- ======= Breadcrumbs ======= -->
 <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Team</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Team</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->
<!-- ======= Team Section ======= -->
<section id="team" class="team ">
    <div class="container">

    <div class="row"> 
       <team-member class="col-lg-6"
          *ngFor="let x of data"
          [name]="x.name"
          [position]="x.position"
          [description]="x.description"
          [image]="x.image">
        </team-member>
        
        

      </div> 

    </div>
  </section><!-- End Team Section -->

